.root {
  min-height: 100vh;
  background-color: #eee;
  padding: 20px 20px 0;
}

.topPanel {
  padding: 12px;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
